<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">{{"edit_title" | translate}} {{"expenses_expenses_log" | translate}}</h1>
		<div class="buttons">
			<button class="button button-clear button-positive" ng-click="expenselog.showConfirm()">
				<i class="icon ion-trash-b"></i>
			</button>
  	</div>
	</ion-header-bar>
	<ion-content class="expensesEdit">
		<div class="list">
			<form name="expenseForm">
				<label class="item item-input item-floating-label">
					<span class="input-label">{{"expense_name" | translate}}</span>
					<input type="text" name="name" placeholder="{{'expense_name' | translate}}*" ng-model="expenselog.activeExpense.name" required="required">
					<div ng-show="(expenseForm.name.$touched || expenseForm.$submitted) && !expenses.submitted">
						<span ng-show="expenseForm.name.$error.required" class="form-error">
							{{"required_error" | translate}}
						</span>
					</div>
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">{{"expense_amount" | translate}}</span>
					<input 	type="number"
							smart-float
							name="amount"
						   	ng-pattern="numberPattern"
							placeholder="{{'expense_amount' | translate}}*"
							ng-model="expenselog.activeExpense.amount"
							required="required">
					<div ng-show="(expenseForm.name.$touched || expenseForm.$submitted) && !expenses.submitted">
						<span ng-show="expenseForm.amount.$error.pattern" class="form-error">
							{{"invalid_number_error" | translate}}
						</span>
						<span ng-show="expenseForm.amount.$error.required" class="form-error">
							{{"required_error" | translate}}
						</span>
					</div>
				</label>
				<label class="item item-stacked-label">
					<span class="input-label expense_type">{{"expense_type" | translate}}*</span>
					<div class="row types">
						<div class="col">
							<ion-radio ng-model="expenselog.activeExpense.expType" ng-click="expenselog.isCheckboxChecked()" ng-value="'fixed'">{{"expense_fixed" | translate}}</ion-radio>
						</div>
						<div class="col">
							<ion-radio ng-model="expenselog.activeExpense.expType" ng-click="expenselog.isCheckboxChecked()" ng-value="'variable'">{{"expense_variable" | translate}}</ion-radio>
						</div>
					</div>
					<div ng-show="expenseForm.$submitted && !expenses.submitted">
						<span ng-show="!expenselog.activeExpense.expType" class="form-error">
							{{"required_error" | translate}}
						</span>
					</div>
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">{{"inventory_total_comments" | translate}}</span>
					<textarea placeholder="{{'inventory_total_comments' | translate}}" ng-model="expenselog.activeExpense.comments"></textarea>
				</label>
				<label class="item item-input">
					<span class="input-label">{{"inv_exp_sal_date" | translate}}<span ng-show="!expenselog.editviewOpen">*</span></span>
		    		<input placeholder="{{'inv_exp_sal_date' | translate}}" type="date" ng-model="expenselog.activeExpense.date" required="required">
		  		</label>
				<input type="submit" class="button button-block button-balanced" ng-click="expenselog.save(expenselog.activeExpense, expenseForm, $event)" value="{{'save_button' | translate}}"></input>
				<button class="button button-block button-assertive" ng-click="expenselog.cancel(expenselog.activeExpense)">{{"cancel_button" | translate}}</button>
			</form>
		</div>
	</ion-content>
</ion-modal-view>
