/* Empty. Add your own CSS if you like */

.inventory .header,
.products .header {
	font-weight: 700;
}

/*.inventory .row:nth-child(even),
.products .row:nth-child(even) {
	background-color: rgba(0,0,0,0.4);
}

.inventory .icon.ion-edit,
.products .icon.ion-edit,
.products .icon.ion-trash-a {
	color: black;
	font-size: 20px;
}*/

.expenses .header {
	font-weight: 700;
}

.expenses .card-container,
.inventory .card-container,
.products .card-container {
	margin-top: -20px;
	margin-bottom: -20px;
	width: 110%;
	margin-left: -16px;
}

.expenses .icon.ion-chevron-right,
.inventory .icon.ion-chevron-right,
.products .icon.ion-chevron-right {
	font-size: 14px;
}

.expenses .name-container,
.inventory .name-container,
.products .name-container {
	font-size: 17px;
}

.expenses .amount-container,
.inventory .amount-container,
.products .amount-container {
	font-weight: bold;
	font-size: 16px;
}

.expenses .total-container,
.inventory .total-container,
.products .total-container {
	font-weight: bold;
	font-size: 22px;
}

.expenses .icon.ion-edit,
.inventory .icon.ion-edit,
.products .icon.ion-edit {
	font-size: 14px;
}

.col {
	white-space: normal;
}

.inventory .item-divider .row,
.products .item-divider .row {
	padding: 0;
}

.ion-trash-b {
	color: red;
	margin-right: 8px;
}

.ion-ios-plus-empty {
	color: #3f80e9 !important;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.bar-subheader {
	height: 58px;
}

.custom {
  background-color: #3f4041 !important; /* This sets the background color*/
 }

 .custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}

.custom .item:hover a {
  background-color: slategray;
}

.custom .item:last-child {
  border-bottom: 1px solid #666;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;
	font-weight: 600;
}

.darkside-menu {
	background-color: #3f4041 !important;
}

.darkside-menu h1 {
	color: white;
	font-weight: 600 !important;
}

.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }
