.center {
  text-align: center;
}

.inventory .header,
.products .header {
	font-weight: 700;
}

.expenses .header {
	font-weight: 700;
}

.expenses .card-container,
.salary .card-container,
.inventory .card-container,
.products .card-container {
	margin-top: -20px;
	margin-bottom: -20px;
	width: 110%;
	margin-left: -16px;
}

.expenses .icon.ion-chevron-right,
.salary .icon.ion-chevron-right,
.inventory .icon.ion-chevron-right,
.products .icon.ion-chevron-right {
	font-size: 14px;
}

.expenses .name-container,
.salary .name-container,
.inventory .name-container,
.products .name-container {
	font-size: 17px;
}

.expenses .amount-container,
.salary .amount-container,
.inventory .amount-container,
.products .amount-container {
	font-weight: bold;
	font-size: 16px;
}

.expenses .total-container,
.salary .total-container,
.inventory .total-container,
.products .total-container {
	font-weight: bold;
	font-size: 22px;
}

.expenses .icon.ion-edit,
.inventory .icon.ion-edit,
.products .icon.ion-edit {
	font-size: 14px;
}

.salary .salary-container {
  margin-bottom: -20px;
}

.salary .salary-adjuster {
  margin-top: -10px;
}

.salary .salary-input {
  height: 35px;
  margin-left: 30px;
}

.salary .record-button {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.salary .adjust-button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.salary .notAllowed {
  color: red;
}

.salary .info {
  margin-top: -20px;
  font-size: 22px;
  color: #FFD700;
}

.col {
	white-space: normal;
}

.inventory .item-divider .row,
.products .item-divider .row {
	padding: 0;
}

.inventory .item,
.products .item {
	padding: 12px 5px;
}

.inventory .card,
.products .card {
	box-shadow: none;
	border: 1px solid rgba(0,0,0,0.3);
}

input.self-payment {
	text-align: right;
}

.ion-trash-b {
	color: red;
	margin-right: 8px;
}

.ion-ios-plus-empty {
	color: #3f80e9 !important;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.bar-subheader {
	height: 58px;
}

.icon.ion-refresh.icon-reset {
  font-size: 16px;
}

.custom {
  background-color: #343434 !important;
 }

 .custom .item {
  background-color: transparent;
  border:none;
  border-top: none;
  border-bottom:none;
  border-color: #666;
  color: white;
}

.custom .item:active a {
	background-color: #3f4041;
}

.custom .item:first-child {
  border-top: 2px solid #666;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;
	font-weight: 600;
	font-size: 18px;
}

.darkside-menu {
	background-color: #343434 !important;
}

.darkside-menu h1 {
	color: white;
	font-weight: 600 !important;
	font-size: 18px !important;
}

.slide-in-right {
  -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

.report-header .date-range {
	display: flex;
	justify-content: space-between;
}

.product-qty {
  margin-top: 8px;
}
