<ion-view view-title="Inventory">
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-ios-plus-empty" ng-click="inventory.addNewItem()"></button>
	</ion-nav-buttons>
	<ion-header-bar class="bar-light bar-subheader">
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="inventory.search">
      </label>
      <button class="button button-positive" ng-click="inventory.clearSearch()" ng-show="inventory.search">
        Cancel
      </button>
    </div>
  </ion-header-bar>
	<ion-content class="inventory">
		<!--<div class="card" ng-hide="inventory.search">
			<div class="item item-divider">
				<span>Total Assets</span>
			</div>
			<div class="item item-text-wrap">
				<div class="totalexpenses-container">{{inventory.totalAssets | currency}}</div>
			</div>
		</div>-->
		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					<div class="col">
						<span class="name-container">Name</span>
					</div>
					<div class="col">
						<span class="amount-container">Quantity</span>
					</div>
					<div class="col col-10"></div>
				</div>
			</div>
			<ion-item ng-click="inventory.editItem(item)" ng-repeat="item in inventory.items | filter: inventory.search as results">
				<div class="card-container">
					<a class="item item-icon-right">
						<div class="row">
							<div class="col">
								<span class="name-container">{{item.name}}</span>
							</div>
							<div class="col">
								<span class="amount-container">{{item.quantity}}</span>
							</div>
							<div class="col col-10">
								<i class="icon ion-chevron-right"></i>
							</div>
						</div>
					</a>
				</div>
			</ion-item>
		</div>
	</ion-content>
</ion-view>
