<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">{{inventory.editOpen ? "edit_title" : "new_title" | translate}} {{"inventory_item" | translate}}</h1>
		<div class="buttons">
			<button class="button button-clear button-positive" ng-click="inventory.showConfirm()" ng-show="inventory.editOpen">
				<i class="icon ion-trash-b"></i>
			</button>
		</div>
	</ion-header-bar>
	<ion-content class="inventory-edit">
		<div class="list">
			<form name="inventoryForm" novalidate>
				<label class="item item-input item-floating-label">
					<span class="input-label">{{"inventory_add_name" | translate}}</span>
					<input type="text" name="name" placeholder="{{'inventory_add_name' | translate}}*"  ng-model="inventory.activeItem.name" required="required">
					<div ng-show="inventoryForm.name.$touched || inventoryForm.$submitted">
						<span ng-show="inventoryForm.name.$error.required" class="form-error">
							{{"required_error" | translate}}
						</span>
					</div>
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">{{"inventory_quantity" | translate}}</span>
					<input 	type="text"
							smart-float
						   	name="amount"
						   	ng-pattern="numberPattern"
						   	step="0.01" 
							placeholder="{{'inventory_quantity' | translate}}*" 
							ng-model="inventory.activeItem.quantity" 
							required="required">
					<div ng-show="inventoryForm.amount.$touched || inventoryForm.$submitted">
						<span ng-show="inventoryForm.amount.$error.pattern" class="form-error">
							{{"invalid_number_error" | translate}}
						</span>
						<span ng-show="inventoryForm.amount.$error.required" class="form-error">
							{{"required_error" | translate}}
						</span>
					</div>
				</label>
				<label class="item item-input item-floating-label" ng-if="!inventory.editOpen">
					<span class="input-label">{{"inventory_total_cost" | translate}}</span>
					<input 	type="text"
							name="totalCost"
							smart-float
							ng-pattern="numberPattern"
							placeholder="{{'inventory_total_cost' | translate}}*" 
							ng-model="inventory.activeItem.cost" 
							step="0.01" 
							required="required">
					<div ng-show="inventoryForm.totalCost.$touched || inventoryForm.$submitted">
						<span ng-show="inventoryForm.totalCost.$error.pattern" class="form-error">
							{{"invalid_number_error" | translate}}
						</span>
						<span ng-show="inventoryForm.totalCost.$error.required" class="form-error">
							{{"required_error" | translate}}
						</span>
					</div>
				</label>
				<label class="item item-input item-floating-label" ng-if="!inventory.editOpen">
					<span class="input-label">{{"inventory_total_comments" | translate}}</span>
					<textarea placeholder="{{'inventory_total_comments' | translate}}" ng-model="inventory.activeItem.comments"></textarea>
				</label>
				<label class="item item-input" ng-if="!inventory.editOpen">
					<span class="input-label">{{"inv_exp_sal_date" | translate}}*</span>
	    			<input placeholder="{{'inv_exp_sal_date' | translate}}*" name="date" type="date" ng-model="inventory.activeItem.date" required="required">
	    			<div ng-show="inventoryForm.$submitted">
						<span ng-show="inventoryForm.date.$error.required" class="form-error">
							{{"required_error" | translate}}
						</span>
					</div>
	    		</label>
				<ion-checkbox ng-model="inventory.activeItem.linkProduct" ng-click="inventory.clearProduct()">{{"inventory_add_product" | translate}}</ion-checkbox>
				<label class="item item-input item-floating-label" ng-show="inventory.activeItem.linkProduct">
					<span class="input-label">{{"product_sales_price" | translate}}</span>
					<input 	type="text" 
							name="salesPrice"
							smart-float
							ng-pattern="numberPattern"
							step="0.01"
							placeholder="{{'product_sales_price' | translate}}*" 
							ng-model="inventory.activeItem.price" 
							ng-required="inventory.activeItem.linkProduct">
					<div ng-show="inventoryForm.salesPrice.$touched || inventoryForm.$submitted">
						<span ng-show="inventoryForm.salesPrice.$error.pattern" class="form-error">
							{{"invalid_number_error" | translate}}
						</span>
						<span ng-show="inventoryForm.salesPrice.$error.required" class="form-error">
							{{"required_error" | translate}}
						</span>
					</div>
				</label>
				<label class="item item-stacked-label" ng-show="inventory.activeItem.linkProduct && inventory.categories.length">
					<span class="input-label">{{"product_category" | translate}}*</span>
					<div class="row category_options">
						<div class="col col-50">
							<ion-radio ng-model="inventory.pick" ng-value="'add'" ng-click="inventory.show = true; inventory.choose = false; inventory.editCategory = false; inventory.activeItem.category = ''; inventory.enterCat = false"
							ng-required="inventory.activeItem.linkProduct && inventory.show===true">{{"product_Category_add" | translate}}</ion-radio>
						</div>
						<div class="col">
							<ion-radio ng-model="inventory.pick" ng-value="'choose'" ng-click="inventory.chooseCategory($event)" ng-required="inventory.activeItem.linkProduct && inventory.choose === true">{{"product_Category_choose" | translate}}</ion-radio>
						</div>
					</div>
					<div ng-show="inventoryForm.$submitted">
						<span ng-show="!inventory.activeItem.category" class="form-error">
							{{"required_error" | translate}}
						</span>
					</div>
				</label>
				<label class="item item-stacked-label" ng-show="inventory.choose || (inventory.editCategory && inventory.activeItem.category) || (inventory.choose &amp;&amp; inventory.activeItem.linkProduct)">
					<span class="categoy-name">{{"product_category_name" | translate}}</span>
					<p class="categories">{{inventory.activeItem.category}}</p>
				</label>
				<label class="item item-input item-floating-label" ng-show="inventory.show || (!inventory.categories.length &amp;&amp; inventory.activeItem.linkProduct)">
					<span class="input-label">{{"product_new_Category" | translate}}</span>
						<input type="text" placeholder="{{'product_input_category' | translate}}*" ng-model="inventory.activeItem.category" ng-required="inventory.activeItem.linkProduct">
				</label>
				<input type="submit" class="button button-block button-balanced" ng-click="inventory.save(inventory.activeItem, inventoryForm, $event)" value="{{'save_button' | translate}}">
				<button class="button button-block button-assertive" ng-click="inventory.cancel(inventory.activeItem)">{{"cancel_button" | translate}}</button>
			</form>
		</div>
	</ion-content>
</ion-modal-view>
