<ion-view class="sales-report" view-title="{{'reports_sales_reports' | translate}}">
	<ion-nav-buttons side="right">
		<button class="button button-icon icon ion-more menu-button-sales-log" ng-click="saleslog.showPopupMenu($event)"></button>
	</ion-nav-buttons>
	<ion-header-bar>
		<h1 class="title">{{"reports_sales_reports" | translate}}</h1>
	</ion-header-bar>

	<report-header start-date="saleslog.startDate" end-date="saleslog.endDate" time-frame="saleslog.timeFrame" change="saleslog.change" language="saleslog.language" class="has-header"></report-header>
	<ion-content>
		<div class="card">
			<div class="item item-divider">
				<span>{{"reports_grand_total" | translate}}: </span>
			</div>
			<div class="item item-text-wrap">
				<span>{{saleslog.salesTotal | currency}}</span>
			</div>
		</div>
		<!-- <div class="list card" ng-repeat="sale in saleslog.sales track by sale.id | orderBy: sale.date"> -->
		<!-- <div class="list card" ng-repeat="sale in saleslog.sales track by sale.id"> -->
		<div class="list card" ng-repeat="sale in saleslog.sales | orderBy: sale.date track by sale.id">
			<div ng-click="saleslog.editSale(sale)">
				<div class="item item-divider card-list-header">
					<div class="row">
						<div class="col">
							<span class="name-container">{{sale.date.format('MMM D, YYYY')}}</span>
						</div>
						<div class="col">
							<span class="amount-container">Total: {{sale.amount | currency}}</span>
						</div>
					</div>
				</div>
				<div ng-repeat="product in sale.products track by product.id">
					<div class="row">
						<div class="col col-33">
							<span>{{product.name}}</span>
						</div>
						<div class="col col-48">
							<span>{{"reports_price" | translate}}: {{product.saleprice | currency}}</span>
						</div>
						<div class="col">
							<span>{{"reports_qty" | translate}}: {{product.quantity}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card" ng-if="saleslog.sales.length === 0">
			<div class="item item-text-wrap center">
				<span class="no-reports">{{"reports_no_sales" | translate}}</span>
			</div>
		</div>
	</ion-content>
</ion-view>
