<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">{{"edit_title" | translate}} {{"reports_sale" | translate}}</h1>
		<div class="buttons">
			<button class="button button-clear button-positive" ng-click="saleslog.showConfirm()">
				<i class="icon ion-trash-b"></i>
			</button>
		</div>
	</ion-header-bar>

	<ion-content>
		<div class="list sales-edit">
			<div class="item item-divider">{{"reports_date" | translate}} : {{saleslog.currentSale.date.format('MMM D, YYYY')}}</div>
			<label class="item item-input">
				<span class="input-label">{{"sales_total_sale" | translate}}</span>
				<input type="number" ng-model="saleslog.currentSale.amount" />
			</label>
			<div ng-repeat="product in saleslog.currentSale.products track by product.id">
				<div class="item item-divider">{{product.name}} - {{"reports_price" | translate}}: {{product.saleprice | currency}}</div>
				<label class="item item-input">
					<span class="input-label">{{"reports_qty" | translate}}</span>
					<input type="number" ng-model="product.quantity"/>
				</label>
			</div>
			<button class="button button-block button-balanced" ng-click="saleslog.save(saleslog.currentSale)" ng-disabled="expenseForm.$invalid">
				{{"save_button" | translate}}
			</button>
			<button class="button button-block button-assertive" ng-click="saleslog.cancel(saleslog.currentSale)">
				{{"cancel_button" | translate}}
			</button>
		</div>
	</ion-content>
</ion-modal-view>
