<ion-view view-title="{{'menu_salary' | translate}}">
  <ion-header-bar class="bar-light bar-subheader">
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="{{'placehoder_search' | translate}}" ng-model="salary.search">
      </label>
      <button class="button button-positive" ng-click="salary.clearSearch()" ng-show="salary.search">
        {{"cancel_button" | translate}}
      </button>
    </div>
  </ion-header-bar>
	<ion-content class="salary">
    <div class="card" ng-hide="salary.search">
      <div class="item item-divider">
        <span>{{salary.paymentType === 'commission' ? 'commission_expected' : 'salary_expected' | translate}}</span>
      </div>
      <div class="item item-text-wrap">
				<div class="salary-container" ng-if="salary.salary.length > 0">
					<div class="row">
						<div class="total-container" ng-if="!salary.showAdjust && salary.paymentType === 'salary'" ng-class="{'notAllowed': salary.expectedSalary > salary.cashAvailable}">{{salary.expectedSalary | currency}}</div>
						<div class="total-container" ng-if="!salary.showAdjust && salary.paymentType === 'commission'" ng-class="{'notAllowed': salary.expectedSalary > 100 || salary.commission > salary.cashAvailable}">{{salary.expectedSalary}}%</div>
						<a class="button button-icon ion-ios-information info" ng-if="(salary.expectedSalary > salary.cashAvailable || salary.commission > salary.cashAvailable) &amp;&amp; !salary.showAdjust &amp;&amp; salary.paymentType === 'salary'" ng-click="salary.showAlert()"></a>
						<a class="button button-icon ion-ios-information info" ng-if="salary.paymentType === 'commission'" ng-click="salary.showAlertCommission()"></a>
						<form name="adjustSalary">
							<div class="item item-input-inset salary-adjuster" ng-if="salary.showAdjust">
	    					<label class="item-input-wrapper salary-input">
	      					<input type="number" ng-model="salary.expectedSalary" placeholder="{{'salary_option' | translate}}"required="required">
	    					</label>
						    <a class="button button-outline button-balanced button-small icon ion-android-done" ng-disabled="adjustSalary.$invalid || salary.expectedSalary > 100 &amp;&amp; salary.paymentType === 'commission'" ng-click="salary.showAdjust = false">
						    </a>
						  </div>
						</form>
	      	</div>
					<div class="row">
						<div class="col">
							<button class="button button-full button-positive record-button" ng-hide = "salary.showAdjust" ng-disabled="(salary.expectedSalary > salary.cashAvailable || salary.commission > salary.cashAvailable)" ng-click="salary.save(salary.activeExpense)">{{"salary_register" | translate}}</button>
						</div>
						<div class="col">
							<button class="button button-full button-positive adjust-button" ng-hide = "salary.showAdjust || salary.paymentType === 'commission'" ng-click="salary.showAdjust = true">{{"salary_adjust" | translate}}</button>
						</div>
					</div>
				</div>
				<div class="salary-container" ng-show="salary.salary.length < 1">
					<div class="row">
						<span class="no-comission">{{"salary_no_comission" | translate}}</span>
					</div>
				</div>
			</div>
    </div>
    <div class="list card" ng-show="salary.getKeys(salary.reformattedList).length >= 1">
      <div ng-repeat="date in salary.getKeys(salary.reformattedList) | customDateFilter:true">
        <div class="item item-divider" ng-hide="results.length < 1">
          {{date | date:'mediumDate'}}
        </div>
  			<ion-item ng-click="salary.editExpense(expense)" ng-repeat="expense in salary.reformattedList[date] | filter:salary.search as results">
          <div class="card-container">
    				<a class="item item-icon-right">
    				  <i class="icon ion-chevron-right"></i>
              <div class="row">
                <div class="col">
                  <span class="name-container">{{expense.name}}</span>
                </div>
                <div class="col">
                  <span class="amount-container">{{expense.amount | currency}}</span>
                </div>
              </div>
    				</a>
          </div>
  			</ion-item>
      </div>
		</div>
	</ion-content>
</ion-view>
