<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{'login_button' | translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="settings.closeLogin()">{{'close_button' | translate}}</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="card" ng-show="settings.userAccount.error">
      <div class="item item-text-wrap assertive">
        Error: {{settings.userAccount.error}}
      </div>
    </div>
    <form ng-submit="settings.submitLoginRequest()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">{{"settings_username" | translate}}</span>
          <input type="text" ng-model="settings.userAccount.username">
        </label>
        <label class="item item-input">
          <span class="input-label">{{"settings_password" | translate}}</span>
          <input type="password" ng-model="settings.userAccount.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">{{"login_button" | translate}}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
