<ion-view view-title="Settings">
  <ion-content class="settings">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Self Payment Method
        </div>
        <select ng-model="settings.selfPayment.method">
          <option value="commission">Commission</option>
          <option value="salary">Salary</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Self Payment Amount</span>
        <input type="number" placeholder="{{settings.selfPayment.method === 'salary' ? 'Salary ($)' : 'Commission (%)'}}" ng-model="settings.selfPayment.amount" required="required" class="self-payment">
      </label>
      <button class="button button-block button-positive" ng-hide="settings.userAccount.token" ng-click="settings.login()">
        Login
      </button>
      <button class="button button-block button-positive" ng-hide="settings.userAccount.token" ng-click="settings.register()">
        Register
      </button>
    </div>

    <div class="card" ng-show="settings.userAccount.token">
      <ion-list>
        <ion-item>
          Username: {{settings.userAccount.user.username}}
        </ion-item>
        <ion-item>
          Email: {{settings.userAccount.user.email}}
        </ion-item>
        <ion-item>
          Phone: {{settings.userAccount.user.phone}}
        </ion-item>
        <ion-item>
          <button class="button button-block button-assertive" ng-click="settings.logout()">
            Logout
          </button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
