<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">{{"edit_tax" | translate}}</h1>
	</ion-header-bar>
	<ion-content class="expensesEdit">
    <form name="taxForm">
			<ul class="list">
        <li class="item item-toggle">
           {{"tax_enabled" | translate}}
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="settings.activeTax.active">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
				<li>
					<label class="item item-input">
						<span class="input-label">{{"salary_percentage" | translate}}</span>
						<input type="number" placeholder="%" ng-model="settings.activeTax.percentage" required="required" class="self-payment">
					</label>
				</li>
      </ul>
      <button class="button button-block button-balanced" ng-click="settings.saveTaxEdit(settings.activeTax)" ng-disabled="taxForm.$invalid || (settings.activeTax.percentage > 100)">{{"save_button" | translate}}</button>
      <button class="button button-block button-assertive" ng-click="settings.cancelTaxEdit(settings.activeTax)">{{"cancel_button" | translate}}</button>
    </form>
	</ion-content>
</ion-modal-view>
