<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">{{"user_options" | translate}}</h1>
	</ion-header-bar>
	<ion-content class="userEdit">
		<form name="userForm">
			<ion-list class="list" id="userList">
				<ion-item class="item-divider center" id="user-list-org-title">{{"org_title" | translate}}</ion-item>
				<label class="item item-input" id="user-list-org-name-label" name="name">
					<span class="input-label">{{"org_name" | translate}}</span><input type="text" placeholder="{{'org_name' | translate}}" ng-model="settings.organization.name">
				</label>
				<label class="item item-input" id="user-list-org-rep-label" name="representative">
					<span class="input-label">{{"org_rep" | translate}}</span><input type="text" placeholder="{{'org_rep' | translate}}" ng-model="settings.organization.representative">
				</label>
				<label class="item item-input" name="street1">
					<span class="input-label">{{"org_street1" | translate}}</span><input type="text" placeholder="{{'org_street1' | translate}}" ng-model="settings.organization.street1">
				</label>
				<label class="item item-input" name="street2">
					<span class="input-label">{{"org_street2" | translate}}</span><input type="text" placeholder="{{'org_street2' | translate}}" ng-model="settings.organization.street2">
				</label>
				<label class="item item-input" name="city">
					<span class="input-label">{{"org_city" | translate}}</span><input type="text" placeholder="{{'org_city' | translate}}" ng-model="settings.organization.city">
				</label>
				<label class="item item-input" name="state">
					<span class="input-label">{{"org_state" | translate}}</span><input type="text" placeholder="{{'org_state' | translate}}" ng-model="settings.organization.state">
				</label>
				<label class="item item-input" name="postal">
					<span class="input-label">{{"org_postal" | translate}}</span><input type="text" placeholder="{{'org_postal' | translate}}" ng-model="settings.organization.postal">
				</label>
				<label class="item item-input" id="user-list-org-email-label" name="email">
					<span class="input-label">{{"user_email" | translate}}</span><input type="email" placeholder="{{'user_email' | translate}}" ng-model="settings.organization.email">
				</label>
				<label class="item item-input" id="user-list-org-phone-label" name="phone">
					<span class="input-label">{{"user_phone" | translate}}</span><input type="tel" placeholder="{{'user_phone' | translate}}" ng-model="settings.organization.phone">
				</label>
			</ion-list>
			<input	type="submit"
					class="button button-block button-balanced"
					ng-click="settings.saveUserEdit(settings.organization, userForm, $event)"
					value="{{'save_button' | translate}}">
			<button class="button button-block button-assertive"
					ng-click="settings.cancelUserEdit(settings.organization)">
				{{"cancel_button" | translate}}
			</button>
		</form>
	</ion-content>
</ion-modal-view>
