<ion-view class="income-statement" hide-nav-bar="true">
<!-- <ion-view view-title="{{'reports_income_statement' | translate}}" class="income-statement"> -->
<!-- <ion-view view-title="test3" class="income-statement"> -->
	<ion-header-bar align-title="left" class="income-statement-bar">
		<div class="buttons">
			<!-- <button class="button button-clear" ng-click="reports.closeIncomeStatement()"> -->
			<button class="button button-icon icon ion-android-arrow-back" ng-click="income.closeIncomeStatement()">
				<!-- <span class="back-color">{{"close_button" | translate}}</span> -->
			</button>
		</div>
		<h1 class="title">{{'reports_income_statement' | translate}}</h1>
<!-- 		<div class="buttons">
			<button class="button button-icon icon ion-navicon" ng-click="reports.closeIncomeStatement()">{{"menu_title" | translate}}</button>
		</div> -->
		<div class="buttons">
			<!-- <button class="button button-icon icon ion-android-menu" ng-click="income.showPopupMenu($event)"></button> -->
			<button class="button button-icon icon ion-android-menu" ng-click="openPopover($event)"></button>
		</div>

	</ion-header-bar>
	<report-header start-date="income.startDate" end-date="income.endDate" time-frame="income.timeFrame" change="income.change" class="has-header"></report-header>
	<ion-content class="has-footer">
		<div class="card">
			<div class="item item-divider">
				<div class="row">
					<div class="col">
						{{'income_statement_profit' | translate}}
					</div>
					<div class="col">
						{{income.totalProfit | currency}}
					</div>
				</div>
			</div>
		</div>
		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					{{'income_statement_income_header' | translate}}
				</div>
			</div>
			<div ng-repeat="item in income.incomeStatement.incomeItems" class="item">
				<div class="row">
					<div class="col" ng-if="item.name !== 'reports_cash'">
						{{item.name}}
					</div>
					<div class="col" ng-if="item.name === 'reports_cash'">
						{{item.name | translate}}
					</div>
					<div class="col">
						{{item.amount | currency}}
					</div>
				</div>
			</div>
			<div class="item item-divider">
				<div class="row">
					<div class="col">
						{{'income_statement_total_income' | translate}}
					</div>
					<div class="col">
						{{income.totalIncome | currency}}
					</div>
				</div>
			</div>
		</div>
		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					{{'income_statement_expenses_header' | translate}}
				</div>
			</div>
			<div ng-repeat="item in income.incomeStatement.expenseItems" class="item">
				<div class="row">
					<div class="col" ng-if="item.name === 'fixed' || item.name === 'variable'">
						{{'income_statement_' + item.name | translate}}
					</div>
					<div class="col" ng-if="item.name !== 'fixed' && item.name !== 'variable'">
						{{item.name}}
					</div>
					<div class="col">
						{{item.amount | currency}}
					</div>
				</div>
			</div>
			<div class="item item-divider">
				<div class="row">
					<div class="col">
						{{'income_statement_total_expenses' | translate}}
					</div>
					<div class="col">
						{{income.totalExpenses | currency}}
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer">
		<div class="button-bar">
			<button class="button button-light" ng-class="{'button-positive' : income.groupBy === 'expType'}" ng-click="income.changeGroupBy('expType')">{{'income_statement_type' | translate}}</button>
			<button class="button button-light" ng-class="{'button-positive' : income.groupBy === 'name'}" ng-click="income.changeGroupBy('name')">{{'income_statement_name' | translate}}</button>
		</div>
	</div>
</ion-view>
