<ion-popover-view id="PopupMenu001" class="category-menu-popup fit">
	<ion-content class="menucontent">
		<ion-list class="menulist">
			<ion-item class="ionic-item-icon-left popup-menu-item notbottom">
				<button class="button button-full button-icon icon ion-android-document" ng-click="income.createReport()">{{"str_generate_pdf" | translate}}</button>
			</ion-item>
			<ion-item class="ionic-item-icon-left popup-menu-item">
			<button class="button button-full button-icon icon ion-close" ng-click="income.closeIncomeStatement()">{{"close_button" | translate}}</button>
			</ion-item>
		</ion-list>
</ion-popover-view>
