<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">{{expenses.editviewOpen ? 'Edit' : 'New'}} Expense Record</h1>
		<div class="buttons">
			<button class="button button-clear button-positive" ng-click="expenses.showConfirm()" ng-show="expenses.editviewOpen">
				<i class="icon ion-trash-b"></i></button>
  	</div>
	</ion-header-bar>
	<ion-content class="expensesEdit">
		<div class="list">
			<form name="expenseForm">
				<label class="item item-input item-floating-label">
					<span class="input-label">{{"expense_name" | translate}}</span>
					<input type="text" placeholder="{{'expense_name' | translate}}*" ng-model="expenses.activeExpense.name" required="required">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">{{"expense_amount" | translate}}</span>
					<input type="number" placeholder="{{'expense_amount' | translate}}*" ng-model="expenses.activeExpense.amount" required="required">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">{{"inventory_total_comments" | translate}}</span>
					<textarea placeholder="{{'inventory_total_comments' | translate}}*" ng-model="expenses.activeExpense.comments"></textarea>
				</label>
				<label class="item item-input">
					<span class="input-label">{{"inv_exp_sal_date" | translate}}<span ng-show="!expenses.editviewOpen">*</span></span>
		    		<input placeholder="{{'inv_exp_sal_date' | translate}}" type="date" ng-model="expenses.activeExpense.date" required="required">
		  		</label>

			</form>
		</div>
		<button class="button button-block button-balanced" ng-click="expenses.save(expenses.activeExpense)" ng-disabled="expenseForm.$invalid">{{"save_button" | translate}}
		</button>
		<button class="button button-block button-assertive" ng-click="expenses.cancel(expenses.activeExpense)">{{"cancel_button" | translate}}</button>
	</ion-content>
</ion-modal-view>
