<ion-modal-view>
  <ion-header-bar>
    <button class="button button-clear" ng-click="sales.cancelCheckout()">
      <i class="icon ion-chevron-left"></i>
      Back
    </button>
    <h1 class="title">Checkout</h1>
  </ion-header-bar>

  <ion-content class="products">
    <div class="list card">
      <div class="item item-divider center">
        <span>Total Sales Price</span>
      </div>

      <ion-item>
        <label class="item item-input">
          <i class="icon ion-social-usd placeholder-icon"></i>
          <input type="text" ng-model="sales.saleTotal">
        </label>
      </ion-item>

      <ion-item>
        <button class="button button-block button-balanced" ng-click="sales.saveSale()">
          Save
        </button>
      </ion-item>
    </div>


    <div class="list card">
      <div class="item item-divider center">
        <span>Sale Products</span>
      </div>
      <ion-item ng-click="sales.editSaleProduct(product)" ng-repeat="product in sales.saleProducts track by product.id">
        <div class="card-container">
          <a class="item item-icon-right">
            <i class="icon ion-chevron-right"></i>
            <div class="row">
              <div class="col">
                <span class="name-container">
                  {{product.name}}
                </span>
              </div>
              <div class="col">
                <span class="name-container">
                  {{product.price | currency}}
                </span>
              </div>
              <div class="col">
                <span class="name-container">
                  x {{product.count}}
                </span>
              </div>
            </div>
          </a>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-modal-view>
