<ion-view view-title="Sales">
  <div class="list card has-header">
      <div class="item item-divider">
        <div class="row center">
          <div class="col">
            <span class="name-container">
              Total: {{sales.saleTotal | currency}}
            </span>
          </div>
          <div class="col">
            <span class="name-container">
              Products: {{sales.productCount}}
            </span>
          </div>
          <div class="col">
            <div class="assertive" ng-click="sales.resetSale()">
              Reset
            </div>
          </div>
        </div>
      </div>

      <ion-item>
        <div class="button button-block button-balanced" ng-click="sales.checkout()">
          Checkout
        </div>
      </ion-item>
  </div>
  <ion-content class="sales">
    <div class="card" ng-show="sales.error">
      <div class="item item-text-wrap assertive center">
        {{sales.error}}
      </div>
    </div>
    <div class="list card" ng-repeat="product in sales.products track by product.id">
      <div class="item item-divider">
        <div class="row center">
          <div class="col">
            <span class="name-container">Name: {{product.name}}</span>
          </div>
          <div class="col">
            <span class="amount-container">Price: {{product.price | currency}}</span>
          </div>
          <div class="col" ng-show="product.inventoryid">
            <span class="amount-container">Limit: {{product.limit}}</span>
          </div>
        </div>
      </div>

      <div class="row center">
        <div class="col">
          <button class="button-icon" ng-click="sales.removeProduct(product)">
            <i class="icon ion-minus-round"></i>
          </button>
        </div>
        <div class="col">
          <div class="button-icon product-qty">
            {{product.count}}
          </div>
        </div>
        <div class="col">
          <button class="button-icon" ng-click="sales.addProduct(product)">
            <i class="icon ion-plus-round"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- <div ng-if="sales.products.length === 0" class="no-products">
      You have not added any products. Go to the Products page and add some.
    </div> -->
    <div class="card" ng-if="sales.products.length === 0">
      <div class="item item-text-wrap center">
        <span class="no-products">You have not added any products. Go to the Products page and add some.</span>
      </div>
    </div>
  </ion-content>
</ion-view>
