<ion-view view-title="Sales">
  <ion-content class="products">
    <div class="list card">
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <span class="name-container">
              Total: {{sales.saleTotal | currency}}
            </span>
          </div>
          <div class="col">
            <span class="name-container">
              Products: {{sales.productCount}}
            </span>
          </div>
        </div>
      </div>

      <ion-item>
        <div class="row">
          <div class="col">
            <button class="button button-block button-positive" ng-click="sales.checkout()">
              Checkout
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-block button-assertive" ng-click="sales.resetSale()">
              Reset
            </button>
          </div>
        </div>
      </ion-item>
    </div>

    <div class="list card">
      <div class="item item-divider">
        <div class="row">
          <div class="col">
            <span class="name-container">Count</span>
          </div>
          <div class="col">
            <span class="name-container">Name</span>
          </div>
          <div class="col">
            <span class="amount-container">Price</span>
          </div>
          <div class="col">
            <span class="amount-container">Add</span>
          </div>
          <div class="col">
            <span class="name-container">
              LIMIT
            </span>
          </div>
        </div>
      </div>

      <ion-item ng-click="sales.addProduct(product)" ng-repeat="product in sales.products track by product.id">
        <div class="row">
          <div class="col">
            <span class="name-container">{{product.count}}</span>
          </div>
          <div class="col">
            <span class="name-container">{{product.name}}</span>
          </div>
          <div class="col">
            <span class="amount-container">{{product.price | currency}}</span>
          </div>
          <div class="col">
            <button class="button button-icon button-small">
              <i class="icon ion-plus-round"></i>
            </button>
          </div>
          <div class="col">
            <span class="name-container">{{product.limit}}</span>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
