<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">{{"sales_edit_quantity" | translate}}</h1>
	</ion-header-bar>

	<ion-content class="products">
		<div class="list card center">
			<form name="saleProductForm">
        <div class="item item-divider">
          <span class="name-container">
            {{sales.currentEditProduct.name}}
          </span>
        </div>
				<label class="item item-input">
					<span class="input-label">{{"product_sales_price" | translate}}</span>
					<input name="saleprice"
            type="number"
            placeholder="{{'product_sales_price' | translate}}*"
            ng-model="sales.currentEditProduct.saleprice"
            required="required"
            min="0"
          />
          <span ng-show="saleProductForm.saleprice.$error.min">
            Negative price not allowed
          </span>
				</label>
				<label class="item item-input">
					<span class="input-label">{{"inventory_quantity" | translate}}</span>
					<input name="quantity"
            type="number"
            placeholder="{{'inventory_quantity' | translate}}*"
            ng-model="sales.currentEditProduct.count"
            required="required"
            min="0"
            max="{{sales.currentEditProduct.limit}}"
          />
          <span ng-show="saleProductForm.quantity.$error.min || saleProductForm.quantity.$error.max">
            Out of range
          </span>
				</label>
        <div class="item">
  				<button class="button button-full button-balanced"
            ng-disabled="saleProductForm.$invalid"
            ng-click="sales.doneEditSaleProduct()">
            Save
          </button>
          <button class="button button-full button-assertive"
            ng-click="sales.cancelEditSaleProduct()">
            Cancel
          </button>
        </div>
			</form>

		</div>
	</ion-content>
</ion-modal-view>
