<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Checkout</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="sales.cancelCheckout()">
        Cancel
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <span class="input-label">Total Sales Price</span>
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-social-usd placeholder-icon"></i>
          <input type="text" ng-model="sales.saleTotal">
        </label>
      </div>
      <ion-item ng-repeat="product in sales.saleProducts track by product.id">
        <div class="row">
          <div class="col">
            <span class="name-container">
              {{product.name}}
            </span>
          </div>
          <div class="col">
            <span class="name-container">
              {{product.count}}
            </span>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-modal-view>
