<ion-view view-title="Expenses Log">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="expenses.addNewExpense()">Add Expense</button>
	</ion-nav-buttons>
	<ion-content class="expenses">
    <div class="card">
      <div class="item item-divider">
        <span>Total Expenses</span>
      </div>
      <div class="item item-text-wrap">
  			<div class="totalexpenses-container">{{expenses.totalExpenses | currency}}</div>
      </div>
    </div>
    <div class="list card">
      <div ng-repeat="date in expenses.getKeys(expenses.reformattedList) | customDateFilter:true">
        <div class="item item-divider">
          {{date | date:'mediumDate'}}
        </div>
  			<ion-item ng-click="expenses.editExpense(expense)" ng-repeat="expense in expenses.reformattedList[date]">
          <div class="card-container">
    				<a class="item item-icon-right">
    				  <i class="icon ion-chevron-right"></i>
              <div class="row">
                <div class="col">
                  <span class="name-container">{{expense.name}}</span>
                </div>
                <div class="col">
                  <span class="amount-container">{{expense.amount | currency}}</span>
                </div>
              </div>
    				</a>
          </div>
  			</ion-item>
      </div>
		</div>
    <!-- <div class="row">
			<div class="col col-33"></div>
			<div class="col">Total Expenses:</div>
			<div class="col">{{expenses.totalExpenses | currency}}</div>
		</div> -->
	</ion-content>
</ion-view>
