<ion-view view-title="Inventory">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive">Add New Item</button>
	</ion-nav-buttons>
	<ion-content class="inventory">
		<div class="row header">
			<div class="col">Item</div>
			<div class="col">Stock</div>
			<div class="col">Cost Per Unit</div>
			<div class="col">Total Cost</div>
		</div>
		<div class="row" ng-repeat="item in inventory.items">
			<div class="col">{{item.name}}</div>
			<div class="col">{{item.quantity}}</div>
			<div class="col">${{item.costPerUnit}}</div>
			<div class="col">${{item.totalCost}}</div>
		</div>
	</ion-content>
</ion-view>