<ion-view view-title="Inventory">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive">Add New Item</button>
	</ion-nav-buttons>
	<ion-content>
		<table>
			<thead>
				<th>Item</th>
				<th>Stock</th>
				<th>Cost Per Unit</th>
				<th>Total Cost</th>
			</thead>
			<tbody>
				<tr>
					<td>Soda</td>
					<td>100</td>
					<td>1.20</td>
					<td>120</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col">Item</div>
			<div class="col">Stock</div>
			<div class="col">Cost Per Unit</div>
			<div class="col">Total Cost</div>
		</div>
	</ion-content>
</ion-view>