<ion-view view-title="Products">
	<ion-nav-buttons side="right">
		<button class="button button-clear button-positive" ng-click="products.addNewItem()">Add New Product</button>
	</ion-nav-buttons>
	<ion-content class="products">
		<div class="list card">
			<div class="item item-divider">
				<div class="row">
					<div class="col">
						<span class="name-container">Name</span>
					</div>
					<div class="col">
						<span class="amount-container">Sales Price</span>
					</div>
					<div class="col col-10"></div>
				</div>
			</div>
			<ion-item ng-click="products.editItem(item)" ng-repeat="item in products.items track by item.id">
				<div class="card-container">
					<a class="item item-icon-right">
						<i class="icon ion-chevron-right"></i>
						<div class="row">
							<div class="col">
								<span class="name-container">{{item.name}}</span>
							</div>
							<div class="col">
								<span class="amount-container">{{item.price | currency}}</span>
							</div>
						</div>
					</a>
				</div>
			</ion-item>
		</div>
	</ion-content>
</ion-view>
