<ion-view view-title="Reports">
  <ion-content class="reports">
    <div class="card">
      <ion-list>
        <ion-item class="item item-icon-right" ng-click="reports.loadIncomeStatement()">
          <i class="icon ion-chevron-right"></i>
          Income Statement
        </ion-item>

        <ion-item class="item item-icon-right" ng-click="reports.loadSalesReport()">
          <i class="icon ion-chevron-right"></i>
          Sales Report
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
