<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Sales Report</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="reports.salesReportModal.hide()">
        Done
      </button>
    </div>
  </ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-item ng-repeat="sale in reports.sales track by sale.id | orderBy: sale.date">
        Date: {{sale.date | date:'short'}}  Total: {{sale.total | currency}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
