<ion-view view-title="Settings">
  <ion-content class="settings">
    <button class="button button-block button-positive" ng-hide="settings.userAccount.token" ng-click="settings.login()">
      Login
    </button>

    <button class="button button-block button-positive" ng-hide="settings.userAccount.token" ng-click="settings.register()">
      Register
    </button>

    <div class="card" ng-show="settings.userAccount.token">
      <ion-list>
        <ion-item>
          Username: {{settings.userAccount.user.username}}
        </ion-item>
        <ion-item>
          Email: {{settings.userAccount.user.email}}
        </ion-item>
        <ion-item>
          Phone: {{settings.userAccount.user.phone}}
        </ion-item>
        <ion-item>
          <button class="button button-block button-assertive" ng-click="settings.logout()">
            Logout
          </button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
