<ion-popover-view>
    <ion-header-bar>
      <h1 class="title cash-title">{{"cash_title" | translate}}</h1>
      <button class="button button-assertive icon ion-android-close" ng-click="app.cancel()"></button>
    </ion-header-bar>
    <ion-content class="cash-container">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">{{"cash_amount" | translate}}</span>
          <input type="text" placeholder="$" ng-model="app.cashInfusion.amount">
        </label>
        <label class="item item-input">
          <span class="input-label">{{"cash_date" | translate}}</span>
          <input type="date" ng-model="app.cashInfusion.date" required="required">
        </label>
      </div>
			<button class="button button-block button-positive" ng-click="app.save(app.cashInfusion)">{{"save_button" | translate}}</button>
    </ion-content>
</ion-popover-view>
