<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">{{products.editOpen ? "edit_title" : "new_title" | translate}} {{"product_title" | translate}}</h1>
		<div class="buttons">
			<button class="button button-clear button-positive" ng-click="products.showConfirm()" ng-show="products.editOpen">
				<i class="icon ion-trash-b"></i>
			</button>
		</div>
	</ion-header-bar>
	<ion-content class="product_edit">
		<div class="list">
			<form name="productsForm">
				<label class="item item-input item-floating-label">
					<span class="input-label">{{"product_name" | translate}}</span>
					<input type="text" placeholder="{{'product_name' | translate}}*" ng-model="products.activeItem.name" required="required">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">{{"product_sales_price" | translate}}</span>
					<input type="number" placeholder="{{'product_sales_price' | translate}}*" ng-model="products.activeItem.price" required="required">
				</label>
				<label class="item-stacked-label">
					<span class="input-label categories">{{"product_category" | translate}}*</span>
						<div class="row category_options">
							<div class="col col-50">
								<ion-radio ng-model="products.pick" ng-value="'add'" ng-click="products.show = true; products.choose = false; products.editCategory = false">{{"product_Category_add" | translate}}</ion-radio>
							</div>
							<div class="col" ng-if="products.items.length">
								<ion-radio ng-model="products.pick" ng-value="'choose'" ng-click="products.choose = true; products.show = false; products.editCategory = false">{{"product_Category_choose" | translate}}</ion-radio>
							</div>
						</div>
				</label>
				<label select-click class="item item-input item-select" ng-show="products.choose || products.editCategory">
					<div class="input-label">
						{{products.editOpen ? "product_Category_existent_category" : "product_Category_choose_category" | translate}}
					</div>
					<select  name="categories" id="categories" ng-model="products.activeItem.category">
						<option ng-repeat="category in products.categories" value="{{category.category}}">
							{{category.category}}
						</option>
					</select>
	      </label>
				<label class="item item-input item-floating-label" ng-show="products.show">
					<span class="input-label">{{"product_new_Category" | translate}}</span>
						<input type="text" placeholder="{{'product_input_category' | translate}}*" ng-model="products.activeItem.category" required="required">
				</label>
				<ion-checkbox ng-model="products.activeItem.linkInventory">{{"product_add_inventory" | translate}}</ion-checkbox>
				<label class="item item-input item-floating-label" ng-show="products.activeItem.linkInventory">
					<span class="input-label">{{"inventory_quantity" | translate}}</span>
					<input type="number" placeholder="{{'inventory_quantity' | translate}}*" ng-model="products.activeItem.quantity" ng-required="products.activeItem.linkInventory">
				</label>
				<label class="item item-input item-floating-label" ng-if="!products.activeItem.inventoryid && products.activeItem.linkInventory">
					<span class="input-label">{{"inventory_total_cost" | translate}}</span>
					<input type="number" placeholder="{{'inventory_total_cost' | translate}}*" ng-model="products.activeItem.cost" ng-required="products.activeItem.linkInventory">
				</label>
				<label class="item item-input item-floating-label" ng-if="!products.activeItem.inventoryid && products.activeItem.linkInventory">
					<span class="input-label">{{"inventory_total_comments" | translate}}</span>
					<textarea placeholder="{{'inventory_total_comments' | translate}}" ng-model="products.activeItem.comments"></textarea>
				</label>
				<label class="item item-input" ng-if="!products.activeItem.inventoryid && products.activeItem.linkInventory">
					<span class="input-label">{{"inv_exp_sal_date" | translate}}*</span>
	    			<input placeholder="{{'inv_exp_sal_date' | translate}}" type="date" ng-model="products.activeItem.date" required="required">
	    		</label>
			</form>
		</div>
		<button class="button button-block button-balanced" ng-click="products.save(products.activeItem)" ng-disabled="productsForm.$invalid">{{"save_button" | translate}}</button>
		<button class="button button-block button-assertive" ng-click="products.cancel(products.activeItem)">{{"cancel_button" | translate}}</button>
	</ion-content>
</ion-modal-view>
